body {
  background-color: rgb(49,105,161);
  font-family: Arial, sans-serif;
  align-items: center;
  margin: 0;
}

.encabezado {
  background-color: rgba(25,60,105,0.5);
  border-bottom: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  display: flex;
}

.titulo {
  display: flex;
  flex-direction: column;
}

.titulo h1 {
  color: #fff;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.5px; 
  margin: 10px 0 10px 40px;
  opacity: 0.85;
}

.titulo p {
  color: #dcdcdc;   
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 17px;       
  font-style: italic; 
  letter-spacing: 0.5px;
  margin: 0;
  margin-left:50px;
}

.encabezado img{
  margin: 10px 40px 10px 0;
  max-height: 150px;
  width: auto;
  filter: opacity(0.8);
}

.centro{
  background-color: rgba(25,60,105,0.3);
  border-left: 2px solid white;
  border-right: 2px solid white;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  max-width: 82%;
  height: 100vh;
}

.menu{
  margin: 0;
  width: 100%;  
}

.menu td{
  border: 2px solid white;
  text-align: center;
  padding: 30px 0;
  color: white;
  font-family: 'Poppins', Arial, sans-serif;
  text-transform: uppercase;
}