body {
  background-color: rgb(49,105,161);
  margin: 0;
  font-family: Arial, sans-serif;
}

.encabezado {
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom: 2px solid  rgb(255, 255, 255);
}

.titulo {
  display: flex;
  flex-direction: column;
}

.titulo h1 {
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px; 
  color: #fff;
  font-size: 30px;
}

.titulo p {
  font-size: 13px;       
  color: #f1f1f1;        
  margin: 4px;  
  font-style: italic;  
}

.encabezado {
  display: flex;
  gap: 12px;
}

.encabezado img{
    max-height: 135px;
    width: auto;
}